.container {
  width: 100%;
  max-width: 1200px;
  border: 1px solid #555555;
}

.row:before, 
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px; 
  padding: 8px;
  border: 1px solid #444444;
  background: #AAAAAA;
}

.img-responsive {  
  display: block;
  max-width: 100%;
  height: auto;
}



@media (min-width: 1px) {
  [class*='col-'] {
    background: green;
  }
  .col-md-1, .col-lg-1  { width: 50%;    }
  .col-md-2, .col-lg-2  { width: 50%;    }
  .col-md-3, .col-lg-3  { width: 50%;    }
  .col-md-4, .col-lg-4  { width: 50%;    }
  .col-md-5, .col-lg-5  { width: 50%;    }
  .col-md-6, .col-lg-6  { width: 50%;    }
  .col-md-7, .col-lg-7  { width: 100%;   }
  .col-md-8, .col-lg-8  { width: 100%;   }
  .col-md-9, .col-lg-9  { width: 100%;   }
  .col-md-10, .col-lg-10 { width: 100%;   }
  .col-md-11, .col-lg-11 { width: 100%;   }
  .col-md-12, .col-lg-12 { width: 100%;   }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-sm-12 { width: 100%; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.col-xs-12 { width: 100%; }
}

@media (min-width: 768px) {
  [class*='col-'] {
    background: yellow;
  }
  .col-md-1, .col-lg-1  { width: 8.33%;  }
  .col-md-2, .col-lg-2  { width: 16.66%; }
  .col-md-3, .col-lg-3  { width: 25%;    }
  .col-md-4, .col-lg-4  { width: 33.32%; }
  .col-md-5, .col-lg-5  { width: 41.65%; }
  .col-md-6, .col-lg-6  { width: 50%;    }
  .col-md-7, .col-lg-7  { width: 58.33%; }
  .col-md-8, .col-lg-8  { width: 66.65%; }
  .col-md-9, .col-lg-9  { width: 75%;    }
  .col-md-10, .col-lg-10 { width: 83.33%; }
  .col-md-11, .col-lg-11 { width: 91.65%; }
  .col-md-12, .col-lg-12 { width: 100%;   }
}

@media (min-width: 992px) {
  [class*='col-'] {
    background: gray;
  }
  .col-lg-1  { width: 8.33%;  }
  .col-lg-2  { width: 16.66%; }
  .col-lg-3  { width: 25%;    }
  .col-lg-4  { width: 33.32%; }
  .col-lg-5  { width: 41.65%; }
  .col-lg-6  { width: 50%;    }
  .col-lg-7  { width: 58.33%; }
  .col-lg-8  { width: 66.65%; }
  .col-lg-9  { width: 75%;    }
  .col-lg-10 { width: 83.33%; }
  .col-lg-11 { width: 91.65%; }
  .col-lg-12 { width: 100%;   }
}
